.bookmark-page
  .bookmark-card
    %p.page-kicker Shortcut
    %h1 ブックマーク登録用画面
    %p
      この画面をブックマーク登録したあと、下のボタンから先へ進んでください。

    = button_to 'ブックマーク登録したので先へ進む',
      { action: :create },
      { class: 'btn btn-primary bookmark-submit' }

