/** じぶんページCSS上書き */
body {
  background-color: #F5F7FB; /* #F5F7FB #FFCCCC*/
}
.app-navbar {
  background-color: #6CD5F5; /* #3E5FAA #AA5F3E*/
}

body {
  margin-bottom: 350px;
}

.hidden {
  display: none;
}

.list-group-item {
  cursor: pointer;
}

.pills-area {
  font-size: 1.5em;
}

.entrance-lists {
  font-size: 1.2em;
}

.corp-name {
  font-weight: bold;
}

.machine-name {
  color: inherit;
  text-decoration: none;
}

.nav-pills {
  cursor: pointer;
}


#area-switch a.active {
  background: #b0c2fc;
  color: #fff;
  border-radius: 5px;
  padding: 6px 20px;
  margin-right: 5px;
}
.company-list li, .machine-list li {
  list-style: none;
  margin: 10px 0;
  font-size: 1.2em;
}

.toggle-area {
  margin-right: 10px;
  padding: 4px 12px;
  border-radius: 5px;
  background: #eee;
  cursor: pointer;
  &.selected { background: #7db1f5; color: #fff; }
}
.company { font-weight: bold; cursor: pointer; margin: 12px 0 4px; }
.machines { display: none; margin-left: 30px; }
.machines.open { display: block; }