.machines-page
  .machines-page-header
    %h1 施工機一覧
    %p.machine-page-subtitle エリアを選択して施工機を表示します。

  .machines-area-switch
    %button{ id: "btn-hokkaido", class: "toggle-area selected", type: "button" } 北海道
    %button{ id: "btn-honshu", class: "toggle-area", type: "button" } 本州

  %div{id: "company-list", class: "company-list"}

  - if @machine_field_keys.present?
    %details.machine-debug
      %summary 取得フィールド確認
      %p
        %strong フィールド:
        = @machine_field_keys.join(", ")
      - if @machine_field_preview.present?
        %table
          %tbody
            - @machine_field_preview.first(20).each do |key, value|
              %tr
                %th= key
                %td= value

:javascript
  window.machineData = #{@machines.to_json.html_safe};
  console.log("machineData:", window.machineData);
