= link_to "← 運用会社一覧へ戻る", machines_path(area: @selected_area)
%h2= "#{@company} の所有機械"

%ul.machine-list
  - @machines.each do |machine|
    - machine_name = machine&.dig("施工機通称", "value") || machine&.dig("施工班通称", "value")
    %li
      - if machine_name.present?
        = link_to machine_name, photos_path(machine: machine_name)
      - else
        %span （名称未設定）
